node_modules
agreement_js
evaluator_js
.env
.DS_Store
secret.md
notes
ceremony*
setup*
proof.txt
evaluator.r1cs
proof.json
public.json
verification_key.json
circuit.sh
calldata*
groth16
plonk
artifacts
cache
circuit.md
